
.top{
    width: 95vw;
    margin: 2% auto 3% auto;
  }
  /* CENTER WITH MARGIN  */
  .top h1{
    display: block;
    margin: auto;
    font-size: 6vw;
    font-weight: 700;
    text-align: center;
  }
  .top span{
    font-size: 3vw;
    vertical-align: text-top;
  }
  .top p{
    margin-left: 2.5%;
    font-size: 2.5vw;
  }

  @media (max-width: 768px) {
.top{
  margin: 5% auto;
}

    .top h1{
      font-size: 5.4vw;
    }

    .top p{
      margin-left: 6vw;
      font-size: 2vw;
    }

  }