
@keyframes appearCart {
    0% {
        transform: translateX(30vw);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .container{
    animation: appearCart 0.4s ease-in-out;
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
    height: 100vh;
    background-color: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.8em;
  }
  
  .container :global(.main-btn-black-bg){
    background-color: black;
    width: 90%;
    margin-bottom: 15px;
  }
  
  .container .name{
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:2px rgba(0, 0, 0, 0.5) solid ;
  }

  .container .name button{
    padding: 0;
  }
  
  .container .products{
    height: 100%;
    display: flex;
    flex-direction: column;
  align-items: flex-start;
  overflow-y: scroll;
  }
  
  .container .checkout{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .container .checkout .subtotal{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 15px;
    border-bottom:2px rgba(0, 0, 0, 0.5) solid ;
    border-top:2px rgba(0, 0, 0, 0.5) solid ;
  }
  
  .container .checkout > p{
    width: 90%;
    padding: 5px 15px;
  }
  
  .item{
    width: 100%;
    display: flex;
    padding: 5%;
    justify-content: space-between;
  }
  
  .item img{
    width: 20%;
  }
  
  .item .itemName{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 15px;
  }
  
  .item .itemName > p:first-child{
    font-weight: 500;
    margin-bottom: 5%;
  }

  .item .itemName > p:nth-child(2){
    margin-bottom: 1%;
  }
  
  .item .qtyChange{
    display: flex;
    width: 40%;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 1.2em;
    align-items: center;
    justify-content: space-between;
  }
  
  .item .qtyChange button{
    font-size: 2em;
    line-height: 50%;
    margin: 0;
    padding: 10px;
    text-align: center;
  }

  @media (max-width: 768px) {
    .container{
      width:100%;
    }

    .item .qtyChange{
      margin: 5% 0;
    }

    .container :global(.main-btn-black-bg){
      margin: 5% auto;
    }
  }
  