.page {
    display: flex;
}


.page .photos {
    width: 65%;
    height: 90vh;
    border-right: 2px rgba(0, 0, 0, 0.2) solid;
}

.page .photos img {
    object-fit: cover;
    width: 100%;
    height: 90vh;
}

.page .info {
    width: 35%;
    padding: 1%;
}

.page .info h1 {
    font-size: 1.5em;
    font-weight: 500;
}


.info .price {
    display: flex;
    justify-content: space-between;
    margin: 2% 0;
}

.info .price p {
    font-size: 1.5em;
    margin: auto 0;
    font-weight: 500;
}

.info .price p:last-child {
    font-size: 0.8em;
    align-items: center;
}

.info .price p:last-child img {
    margin: auto 3px;
}

.info .color {
    margin: 7% 0;
}

.info .payments {
    margin: 2% 0;
}

.presentation {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(2, 1fr);  */
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.presentation img {
    object-fit: cover;
    display: flex;
    width: 100%;
    height: 100%;
}

.presentation img:nth-child(1) {
    grid-area: 1 / 1 / 2 / 3;
}

.presentation img:nth-child(2) {
    grid-area: 1 / 3 / 3 / 5;
}

.presentation img:nth-child(3) {
    grid-area: 2 / 2 / 3 / 3;
}

.presentationText {
    grid-area: 2 / 1 / 2 / 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4%;
}

.presentationText h6 {
    font-size: 1.5em;
    font-weight: 500;
}

.presentationText p {
    font-size: 10px;
}

.productDetails {
    display: flex;
    justify-content: space-between;
    padding: 1%;
}

.productDetails .photo {
    width: 69%;
}

.productDetails .photo img {
    width: 100%;
    object-fit: cover;
}

.productDetails .details {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productDetails .details .disclaimer {
    font-size: 0.6em;
    opacity: 0.6;
}

.productDetails .details ul {
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.productDetails .details ul li {
    display: flex;
    justify-content: space-between;
    padding: 3% 1%;
}

.productDetails .details ul li:nth-child(2n) {
    background: rgba(0, 0, 0, 0.05);
}

.productDetails .details ul li p:first-child {
    width: 50%;
    font-weight: 500;
    font-size: 0.8em;
    margin: auto 0;
    /* text-align: center; */
}

.productDetails .details ul li p:last-child {
    font-size: 0.8em;
    width: 50%;
    /* text-align: center; */
}

@media (max-width:768px) {
    .page{
        flex-direction: column;
    }

    .page .photos, .page .info, .productDetails .photo, .productDetails .details{
        width: 100%;
    }

    .page .photos{
        height: 42vh;
    }

    .page .info h1{
        font-size: 2em;
    }

    .presentation{
        display: flex;
    }

    .presentation img{
        display: none;
    }

    .productDetails{
        flex-direction: column;
    }
    .productDetails .photo{
        width: 100%;
    }
}