
.container{
    position: relative;
    z-index: 10;
  }
  
  .container > div{
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px black solid;
  }
  
  .container :global(.main-container) > div{
    display: flex;
    align-items: center;
  }
  
  .container button{
    margin: 0px 10px;
    text-transform: uppercase;
    border:none;
    background: none;
  }
  
  .container button:active{
    font-weight: 500;
  }
  
  .container .cart{
    height: 35px;
    width: 35px;
    margin: auto;
    align-content: center;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 100%;
  }
  

.categories{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: white;
  width: 100%;
  z-index: 1;
}

.categories .category{
  border: 2px solid rgb(226, 226, 226);
  /* padding: 3%; */
  width: 14.28%;
  text-align: center;
}

.categories .category img{
  height: 80px;
  object-fit: contain;
  margin: auto;
}

.categories .category a{
  padding: 3%;
  color:black;
  text-decoration: none;
}

.categories .category p{
  margin-top: 5%;
  font-size: 0.8em;
  font-weight: 500;
}