
@keyframes slideInFromLeft {
    0% {
      padding:0;
      max-height: 0px;
    }
    100% {
      max-height: 500px;

    }
  }

  .filterIcon{
    margin: 1%;
    padding: 5px;
    border: 1px solid black;
    border-radius: 100%;
  }
  
  .container{
    overflow: hidden;
    animation: slideInFromLeft 650ms ease-out;
    display:flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(249, 249, 249, 1);
    padding: 3% 1%;
    border-top: 1px rgba(0, 0, 0, 0.3) solid;
    border-bottom: 1px rgba(0, 0, 0, 0.3) solid;
  }
  
  .container .buttons{
    display: flex;
    justify-content: flex-end;
  }
  
  .container :global(.main-black-btn){
    padding:2% 4%;
    margin-right: 1%;
  }
  
  .container :global(.main-btn-black-bg){
    padding: 2% 4%;
  }
  
  .options{
    display: flex;
  }
  
  .options .sort{
    display: flex;
    flex-direction: column;
  }
  
  .options .sort h3{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 5%;
  }
  
  .options .sort input{
    visibility: hidden;
  }
  
  .options .sort input:checked + label{
    font-weight: 600;
  }
  
  @media (max-width:768px) {
    .filterIcon{
      margin: 4% 2%;
    }
  }
  