
.events{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 100%;
  }
  
  .title, .description{
    z-index: 1;
    color: white;
    margin: 0 1%;
  }
  
  .title{
    font-size: 6vw;
    font-weight: 600;
    text-align: justify;
    margin-bottom: -1.5em !important;
  }
  
  .title:after {
    content: "";
    display: inline-block;
    width: 100%;
  }
  
  .events img{
    z-index: 0;
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  @media (max-width:768px){
    .events{
      height: 30vh;
    }
  }