@font-face {
  font-family: 'Montserrat';
  src: url('../public/Montserrat-VariableFont_wght.ttf');
  /* font-weight: 400; */
  font-style: normal;
}

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-family: Montserrat;
  font-weight: 400;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

body:has(.cart-container) {
  overflow: hidden;
}

.locked-tinted{
  filter: brightness(10%);
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
.main-container{
  height: 100%;
/* max-width: 1400px;  */
margin: auto;
width: 100%;
padding: 0 15px;
}

.main-btn{
  width: fit-content;
  cursor: pointer;
  color: white;
  background: none;
  border: 1px white solid;
  border-radius: 50px;
  font-size: 13px;
  padding: 4% 13%;
  text-overflow: ellipsis; 
  overflow: hidden; 
  white-space: nowrap;
}

.main-black-btn{
  width: fit-content;
  cursor: pointer;
  color: black;
  background: none;
  border: 1px black solid;
  border-radius: 50px;
  font-size: 13px;
  padding: 4% 13%;
  text-overflow: ellipsis; 
  overflow: hidden; 
  white-space: nowrap;
}

.main-black-btn a{
  text-decoration: none;
  color:black;
}

.main-btn-black-bg{
  width: fit-content;
  cursor: pointer;
  color: white;
  background: black;
  border: none;
  border-radius: 50px;
  font-size: 13px;
  padding: 4% 13%;
  text-overflow: ellipsis; 
  overflow: hidden; 
  white-space: nowrap;
}


.admin-login{
  display: flex;
  flex-direction: column;
  width: min-content;
  margin: 5% auto;
  align-content: center;
  justify-content: center;
}

.admin-login input, .admin-login textarea, .admin-login select{
  margin-bottom: 4%;
}

.filter-icon{
  margin: 1%;
  padding: 5px;
  border: 1px solid black;
  border-radius: 100%;
}


.main-product{
  width: 25%;
  height: 500px;
  border: black 1px solid;
  display: flex;
  flex-direction: column;
  padding: 1%;
  color: black;
}

.main-product a{
  color: black;
  text-decoration: none;
}

.main-product img{
  width: 100%;
  height: 290px;
  object-fit: cover;
}

.main-product .category-price{
  display: flex;
  justify-content: space-between;
  margin: 2% 0;
}

.main-product p{
  font-size: 13px;
}

.main-product button{
  margin-top: 25%;
}

.category-title{
  margin: 3% 1%;
}

.category-name {
  display: flex;
  align-items: center;
}

.category-name img{
  height: 2rem;
}

