@font-face {
  font-family: 'Montserrat';
  src: url('../public/Montserrat-VariableFont_wght.ttf');
  /* font-weight: 400; */
  font-style: normal;
}

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-family: Montserrat;
  font-weight: 400;
}
body {
  
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
.main-container{
  height: 100%;
/* max-width: 1400px;  */
margin: auto;
width: 100%;
padding: 0 15px;
}

.navbar-container{
  position: relative;
}

.navbar-container > div{
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px black solid;
}

.navbar-container button{
  margin: 0px 10px;
  text-transform: uppercase;
  border:none;
  background: none;
}

.nav-categories{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: white;
  width: 100%;
  z-index: 1;
}

.nav-categories .nav-category{
  border: 2px solid rgb(226, 226, 226);
  padding: 3%;
  width: 16.66%;
  text-align: center;
}

.nav-categories .nav-category img{
  height: 80px;
  object-fit: contain;
  margin: auto;
}

.nav-categories .nav-category a{
  color:black;
  text-decoration: none;
  font-size: 0.9em;
}

.footer{
  background: rgb(185, 185, 185);
  padding: 10% 0;
  
}

.footer .main-container{
  display: flex;
  justify-content: space-between;
}

.footer .footer-address{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footer .footer-address > img{
  margin-top: 0;
  width: 70%;
}

.footer .footer-address > *{
  margin: 5% 0;
}

.footer .social-media{
  /* height: 100px; */
  width: 100%;
  display: flex;
}

.footer .social-media a{
  height: auto; 
  padding: 4%;
  border: rgba(0, 0, 0, 0.1) 1px solid;
  border-radius: 100%;
  margin: 0 3%;
}
.footer .social-media img{
  height: 20px;
}

.footer .footer-navigation{
  width: 30%;
  display: flex;
  flex-direction: column;
  /* border-right: 2px rgba(0, 0, 0, 0.1) solid; */
 }

 .footer .footer-navigation a{
  text-decoration: none;
  color: black;
  font-size: 0.9em;
  margin: 0.5% 0;
 }

 .footer h6{
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 5%;
 }

 .footer .footer-support::before{
  content: '';
  width: 1px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.244);
  position: absolute;
  left: -10%;
  top: 0;
 }

 .footer .footer-support{
  position: relative;
  height: 100%;
  width: 30%;
 }

 .footer .footer-support .main-btn{
  color: black;
  border-color: black;
  margin-top: 10%;
 }


.first-hero-top{
  width: 100%;
  margin-top: 2%;
  margin-bottom: 3%;
}
/* CENTER WITH MARGIN  */
.first-hero-top h1{
  display: inline-flex;
  position: relative;
  /* margin: auto; */
  font-size: 6.35vw;
  font-weight: 700;
  text-align: center;
}
.first-hero-top span{
  font-size: 3vw;
  vertical-align: text-top;
}
.first-hero-top p{
  position: relative;
  left: 0;
  font-size: 1.5em;
}
/* END */ 
.first-hero-bottom{
  display:  flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1%;
}

.first-hero-bottom .text{
  width: 29%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.first-hero-bottom .image{
  width: 69%;
  display: flex;
  justify-content: center;
}
.first-hero-bottom .text .origin-date{
  display: flex;
  justify-content: space-between;
}

.first-hero-bottom h3{
  margin-top: 3%;
  font-size: 2em;
  font-weight: 500;
}

.first-hero-bottom p{
  font-size: 13px;
}

.first-hero-bottom .description{
  margin-bottom: 5%;
}

.first-hero-bottom button{
  cursor:pointer;
  width: 10%;
  display: flex;
  background: none;
  outline: none;
  border: none;
  padding: 0;
  margin-left: auto;
}

.hero-second-section{
  display:flex;
}

.hero-second-section .cta-image{
  width: 50%;
  background-image: url(/bg-second-section.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  display: flex;
}

.hero-second-section .container{
  width: 60%;
  margin: auto 20%;
}

.hero-second-section .cta-image h4{
  font-size: 3.5em;
  line-height: 95%;
  text-transform: uppercase;
  margin-bottom: 3%;
}

.hero-second-section .cta-image p{
  font-size: 13px;
margin-bottom: 5%;
}

.main-btn{
  width: fit-content;
  cursor: pointer;
  color: white;
  background: none;
  border: 1px white solid;
  border-radius: 50px;
  font-size: 13px;
  padding: 4% 13%;
  text-overflow: ellipsis; 
  overflow: hidden; 
  white-space: nowrap;
}

.main-black-btn{
  width: fit-content;
  cursor: pointer;
  color: black;
  background: none;
  border: 1px black solid;
  border-radius: 50px;
  font-size: 13px;
  padding: 4% 13%;
  text-overflow: ellipsis; 
  overflow: hidden; 
  white-space: nowrap;
}

.main-btn-black-bg{
  width: fit-content;
  cursor: pointer;
  color: white;
  background: black;
  border: none;
  border-radius: 50px;
  font-size: 13px;
  padding: 4% 13%;
  text-overflow: ellipsis; 
  overflow: hidden; 
  white-space: nowrap;
}

.hero-second-section .content{
  width: 50%;
}

.hero-second-section .content .post{
  margin: 15px;
}

.hero-second-section .content .post > p{
  font-size: 13px;
  margin: 15px 0;
}
.hero-second-section .content .post img{
  width: 100%;
}

.hero-second-section .content .post .text{
  display: flex;
  margin: 5% 0;
  flex-direction: row;
  justify-content: space-between;
}  

.hero-second-section .content .post .text h6{
  display: inline;
  width: 47%;
  font-size: 2em;
  line-height: 100%;
}

.hero-second-section .content .post .text p{
  width: 47%;
  font-size: 13px;
}

.hero-second-section .content .feature {
  margin:15px;
}
.hero-second-section .content .feature > p{
  font-size: 13px;
  margin: 25px 0;
}

.hero-second-section .content .feature .feature-product {
  margin-right: 2%;
  width: 48%;
}

.hero-second-section .content .feature .feature-product .title{
  font-size: 12px;
  margin-top: 5%;
}

.hero-second-section .content .feature .feature-product .price{
  font-size: 12px;
}

.banner-cta-shop{
  color: white;
  background-image: url(/hero-banner-shop.png) ;
  background-size: cover;
}
.banner-cta-shop .container{
  width: 40%;
  padding: 5% 1%;
}

.banner-cta-shop .container > *{
  margin-bottom: 20px;
}

.banner-cta-shop h2{
  font-size: 2.5em;
  font-weight: 500;
  line-height: 95%;
  text-transform: uppercase;
}

.banner-cta-shop p{
  font-size: 13px;
}

.admin-login{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: min-content;
  margin: auto;
  align-content: center;
  justify-content: center;
}

.admin-login input{
  margin-bottom: 4%;
}

.products{
  display: flex;
  flex-wrap: wrap;
}

.products .main-product{
  width: 25%;
  height: 500px;
  border: black 1px solid;
  display: flex;
  flex-direction: column;
  padding: 1%;
}

.products a{
  color: black;
  text-decoration: none;
}

.products .main-product img{
  width: 100%;
  height: 290px;
  object-fit: cover;
}

.products .main-product .category-price{
  display: flex;
  justify-content: space-between;
  margin: 2% 0;
}

.products .main-product p{
  font-size: 13px;
}

.products .main-product button{
  margin-top: 25%;
}

.category-title{
  margin: 3% 1%;
}

.category-name {
  display: flex;
  align-items: center;
}

.category-name img{
  height: 2rem;
}

.product-page {
  display: flex;
}

.product-page .photos{
  width: 65%;
  height: 90vh;
  border-right: 2px rgba(0, 0, 0, 0.2) solid;
}

.product-page .photos img{
  object-fit: cover;
  width: 100%;
  height: 90vh;
}

.product-page .product-info{
  width: 35%;
  padding: 1%;
}

.product-page .product-info h1{
  font-size: 1.5em;
  font-weight: 500;
}

.product-info .price{
  display: flex;
  justify-content: space-between;
  margin: 2% 0;
}

.product-info .price p{
  font-size: 1.5em;
  margin: auto 0;
  font-weight: 500;
}

.product-info .price p:last-child{
  font-size: 0.8em;
  align-items: center;
}

.product-info .price p:last-child img{
  margin: auto 3px;
}

.product-info .color{
  margin: 7% 0;
}

.product-info .payments{
  margin: 2% 0;
}

.product-presentation{
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(2, 1fr); 
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
}
.product-presentation img{
  object-fit: cover;
  display: flex;
  width: 100%;
  height: 100%;
}

.product-presentation img:nth-child(1){
  grid-area: 1 / 1 / 2 / 3; 
}
.product-presentation img:nth-child(2){
  grid-area: 1 / 3 / 3 / 5;
}
.product-presentation img:nth-child(3){
  grid-area: 2 / 2 / 3 / 3;
}
.product-presentation .product-presentation-text{
  grid-area: 2 / 1 / 2 / 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4%;
}

.product-presentation .product-presentation-text h6{
  font-size: 1.5em;
  font-weight: 500;
}

.product-presentation .product-presentation-text p{
  font-size: 10px;
}

.product-details{
  display: flex;
  justify-content: space-between;
  padding: 1%;
}

.product-details .photo{
  width: 69%;
}

.product-details .photo img{
  width: 100%;
  object-fit: cover;
}

.product-details .details{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-details .details .disclaimer{
font-size: 0.6em;
opacity: 0.6;
}

.product-details .details ul{
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.product-details .details ul li{
  display: flex;
  justify-content: space-between;
  padding: 3% 1%;
}

.product-details .details ul li:nth-child(2n){
  background: rgba(0, 0, 0, 0.05);
}

.product-details .details ul li p:first-child{
  width: 50%;
  font-weight: 500;
  font-size: 0.8em;
  margin: auto 0;
  /* text-align: center; */
}

.product-details .details ul li p:last-child{
  font-size: 0.8em;
  width: 50%;
  /* text-align: center; */
}


